[user]
	name = Filip Sotirov
	email = me@fipolab.com
[core]
        excludesfile = /Users/fipo/.gitignore_global
        whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
[color "diff"]
        whitespace = red reverse
[alias]
        st = status
        ci = commit
        br = branch
        co = checkout
        df = diff
        lg = log -p
        lol = log --graph --decorate --pretty=oneline --abbrev-commit
        lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[push]
	default = simple
